body {
    font-family: Arial;
    text-align: center;
    background: #111;
    color: white;
}

input {
    margin: 5px;
    padding: 10px;
}

button {
    padding: 10px;
    background: #00ffcc;
    border: none;
    cursor: pointer;
}